# Файлы которые нужно игнорировать

.idea
/results/logs.txt
/results/SBMS_AUTOTEST_RESULTS.xlsx
config/chromedriver.exe
/utils/login_x_password.py
/runner/SBMS_AUTOTEST_RESULTS.xlsx
/tests_preprod/SBMS_AUTOTEST_RESULTS.xlsx